<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="4.4.0" targetFramework="net461" />
  <package id="IronOcr.Languages.Arabic" version="4.4.4.11" targetFramework="net461" />
  <package id="IronOcr.Languages.Danish" version="4.4.4.1" targetFramework="net461" />
  <package id="MSBuild.NugetContentRestore" version="0.1.6" targetFramework="net461" />
  <package id="NuGet.Tessnet2" version="1.1.1" targetFramework="net461" />
  <package id="Tesseract" version="3.3.0" targetFramework="net461" />
</packages>